<div class="fragment_35271">
	<section class="section-news">
	  <div class="container-fluid container-fluid-max-xl-header" > 
			<div class="row">
				<div class="col-lg-12">
					<div class="section-news-header text-center">
				    <h2>LE NOSTRE NEWS</h2>
						<span></span>
						<p class="text-center">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
						ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
			    </div>
				</div>
			</div>
		  <div class="row">
				<div class="col-lg-4">
					<div class="news-card">
						<div class="news-card-img">
							<img src="/documents/77122/0/news-2.jpg/5ab75b60-ce6f-7736-c0c5-9dcb58e1eabc#,#include-uuid=true" class="img-fluid" />
						</div>
						<div class="news-card-body" >
					   <h4><a href="#">Lorem Ipsum</a></h4>
						 <!--<span>Bulimia</span>-->
							<ul>
								<li><i class="far fa-user news-card-icon"></i> Mario Rossi</li>
								<li><i class="far fa-clock news-card-icon"></i> 23 Maggio 2024</li>
							</ul>
						 <p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
							ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  
						 </p>	
						 <div class="text-right">
								<a href="#" class="btn btn-primary btn-card-news" >Continua <i class="fas fa-arrow-right"></i></a>
							</div>
					 </div>
					</div>
				</div>
				
				<div class="col-lg-4">
					<div class="news-card">
						<div class="news-card-img">
							<img src="/documents/77122/0/news-1.jpg/4a7fbb6a-2271-7517-b667-3a91508b983e#,#include-uuid=true" class="img-fluid" />
						</div>
						<div class="news-card-body" >
							<h4><a href="#">Lorem Ipsum</a></h4>
						  <!--<span>Anoressia</span>-->
							<ul>
								<li><i class="far fa-user news-card-icon"></i> Franco Bianchi</li>
								<li><i class="far fa-clock news-card-icon"></i> 23 Maggio 2024</li>
							</ul>
						 <p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
							ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  
						</p>
						<div class="text-right">
								<a href="#" class="btn btn-primary btn-card-news" >Continua <i class="fas fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4">
					<div class="news-card">
						<div class="news-card-img">
							<img src="/documents/77122/0/news-3.jpg/2c687aa9-d9a2-b8d9-8277-6e663025b10b#,#include-uuid=true" class="img-fluid" />
						</div>
						<div class="news-card-body" >
					  <h4><a href="#" >Lorem Ipsum</a></h4>
						<ul>
							<li><i class="far fa-user news-card-icon"></i> Carlo Biuso</li>
							<li><i class="far fa-clock news-card-icon"></i> 23 Maggio 2024</li>
						</ul>
						<!--<span>Anoressia</span>-->
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
							ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  
						 </p>
							<div class="text-right">
								<a href="#" class="btn btn-primary btn-card-news" >Continua <i class="fas fa-arrow-right"></i></a>
							</div>
						 
					 </div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>