<div class="fragment_35061">
	<section id="header-image-home">
		<div class="disturbi-alimentari-bg">
        <!--<img src="assets/img/hero-bg-light.webp" alt="">-->
      </div>
		
	<!--<div class="container-fluid">
		<div class="row" >
			<div class="col-lg-12">-->
				<div class="header-image-container" >
					<div class="d-flex flex-column justify-content-center align-items-center header-image-title" >						
						<h1>${configuration.title} <span>${configuration.titleAccent}</span></h1>
						<p>
							Scopri tutti i Centri per la cura dei disturbi alimentari in Italia
						</p>
						<div class="d-flex" >
							<a href="${configuration.mappaUrl}" class="btn-mappa-centri" >Mappa dei centri</a>
							<a href="${configuration.miInformoUrl}" class="btn-mi-informo" ><img src="/documents/77122/0/info-icon.png/bd014f83-62af-1c97-aca7-a40e0f1a4bf8#,#include-uuid=true" class="info-icon" > Mi informo</a>
						</div>					
					</div>
				</div>
			<!--</div>
		</div>
	</div>-->
	</section>
	
</div>