<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">

<div class="fragment_35562">
	<section id="servizi-cards">
	 <div class="container-fluid container-fluid-max-xl-header" > 
		 <div class="row">
			 <div class="col-xl-5" >
					<div class="servizi-cards-par" >
						<h2>I NOSTRI SERVIZI</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
							nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
							eu fugiat nulla pariatur. 
						</p>
						<a href="/mi-informo" class="servizi-cards-btn btn btn-primary" >MI INFORMO <i class="far fa-arrow-right"></i></a>
				 </div>		
			 </div>
			 <div class="col-xl-7" >
				 <div class="row">
					 <div class="col-lg-6">
					   <div class="servizi-cards-card" >
							 <div class="servizi-cards-icon"><i class="far fa-phone-rotary"></i></div>
							 <h2>Telefono Verde</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
							nostrud exercitation 
							 </p>
						 </div>
					 </div>
					 <div class="col-lg-6">
					   <div class="servizi-cards-card" >
							<div class="servizi-cards-icon"><i class="far fa-map-marker-alt"></i></div>
							 <h2> Mappa dei Centri</h2>
							 	<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
							  nostrud exercitation 
							 </p>
						 </div>
					 </div>
					 <!--<div class="col-lg-6">
					    <div class="servizi-cards-card" >
							<div class="servizi-cards-icon"><i class="fas fa-question"></i></div>
							<h2> FAQ</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
							nostrud exercitation 
							 </p>
						 </div>
					 </div>
					 <div class="col-lg-6">
					    <div class="servizi-cards-card" >
							<div class="servizi-cards-icon"><i class="fas fa-file-alt"></i></div>
							<h2>QUESTIONARI</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
							nostrud exercitation 
							 </p>
						 </div>
					 </div>-->
				 </div>
			 </div>			 
		 </div>	 
		</div>
	</section>
</div>