<div class="fragment_35097">
	<div class="fragment_35963">
	<section id="contatti" >
	<div class="container-fluid container-fluid-max-xl-header" >		
		<div class="row">
      <div class="col-xl-12">
       <div class="contatti-title">
        <h2 class="text-center">I NOSTRI CONTATTI</h2>
       </div>
      </div>
     </div>
		
	  <div class="row">				
			<div class="col-xl-9" >
				<div class="contatti-card" >
					<div id="contatti-map"></div>
				</div>	
			</div>
			
		   <div class="col-xl-3" >
				<div class="contatti-card" >
				   <div class="contatti-card-body text-center" >
						<div class="contatti-icon-main" >
							<div class="contatti-icon" >									
								   <i class="fas fa-envelope"></i>
							   </div> 
						</div> 	
						<h5>Email</h5>
						<p class="text-center" >
						 ProgettoSindromeDown@iss.it
						</p>
					</div>					
				</div>
			</div>				
	  </div>
	  </div>
   </section>
  </div>
</div>