<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">

<div class="fragment_201">
	<section id="disturbi-nutrizione" class="disturbi-nutrizione">
     <div class="container-fluid container-fluid-max-xl-header">
			 <div class="disturbi-nutrizione-title">
          <h2 class="text-center" >${configuration.title}</h2>
        </div>
			 <div class="row content">
          <div class="col-lg-6" >
            <p>${configuration.description}
			</p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" >
            <p>${configuration.description1}</p>
          </div>
        </div>
    </div>
  </section>
</div>