.fragment_35161 {
}

#benvenuto{
  padding:80px 0px;
}

.header-image-container h1{
   font-weight:bold;
   font-size:34px;	
	 color:#0f394c;
	 font-family:'Dosis';
}

.header-image-container span{
  color:#49b5e7;	
}

