<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
<div class="fragment_35585">
	<section id="progetto-par" >
		<div class="container-fluid container-fluid-max-xl-header">
			<div class="row">
				<div class="col-xl-12">
					<div class="disturbi-nutrizione-title">
           <h2 class="text-center" >I DISTURBI DELLA NUTRIZIONE E DELL'ALIMENTAZIONE</h2>
          </div>
				</div>
			</div>
			<div class="row">
			  <div class="col-xl-6" >
					<div class="progetto-par" >

						<img src="/documents/d/guest/progetto-3-1#,#include-friendly-url=true" class="img-fluid" style="border:1px solid #eee;" />
						
						<p>
							<i>
							  I <strong>disturbi della nutrizione e dell'alimentazione (DNA) </strong>sono un problema di sanit&agrave; pubblica di importanza sempre maggiore, 
								caratterizzate da un alto tasso di cronicit&agrave;, mortalit&agrave; e recidiva. Per la crescente diffusione, l'esordio sempre pi&ugrave; precoce tra le fasce pi&ugrave;
								giovani della popolazione e l'eziologia multifattoriale complessa, i DNA sono oggetto di attenzione sanitaria e sociale sul piano scientifico e mediatico. 
							</i>
						</p>
					  <p>
							 Tali disturbi si contraddistinguono per l'approccio disfunzionale all'alimentazione sia per la qualit&agrave; sia per la quantit&agrave; di cibo assunto, con conseguenti
							alterazioni somatiche, anche rischiose per la salute e la vita. 
             Si tratta di patologie complesse, caratterizzate da un comportamento alimentare associato ad un'alterazione dell'immagine corporea, che si manifesta anche attraverso il 
							continuo controllo del peso. Il rapporto disfunzionale con il cibo spesso &egrave; correlato a bassi livelli di autostima e possono presentarsi in associazione ad altri disturbi psicopatologici
							quali, ad esempio, i disturbi d'ansia o di abuso di alcol o di sostanze, il disturbo ossessivo-compulsivo, i disturbi di personalit&agrave; o i disturbi depressivi. 
							Possono essere presenti, inoltre, comportamenti auto-aggressivi, come gli atti autolesionistici che possono tradursi in veri e propri tentativi di suicidio.
 
						</p>
						
						<p>
							I comportamenti tipici di chi soffre di DNA possono essere contraddistinti sia per l'eccesso di assunzione di cibo (bulimia), sia per la restrizione dell'alimentazione, 
							fino al digiuno (anoressia nervosa), sia per l'assunzione incontrollata di cibo <i>(binge eating)</i>. La pi&ugrave; recente classificazione proposta 
							dall'American Psychiatric Association, nella quinta edizione del Manuale Diagnostico e Statistico dei Disturbi Mentali (DSM 5 - APA, 2013), ha cambiato il nome della 
							sezione in Food and Eating Disorders (Disturbi della Nutrizione e dell'Alimentazione, DNA), ha aggiornato i criteri diagnostici per anoressia e bulimia e ha riconosciuto 
							il binge eating disorder tra i disturbi principali. Pertanto, alcuni quadri clinici che in passato erano ricompresi nella categoria "non altrimenti specificati" attualmente
							ricadono nelle categorie principali, aumentando il numero di soggetti con diagnosi di anoressia, bulimia e binge eating disorder. Inoltre, nella stessa Sezione sono allo stato
							ricompresi alcuni disturbi precedentemente riportati tra i Disturbi dell'infanzia, della fanciullezza e dell'adolescenza quali la Pica (assunzione di sostanze non alimentari),
							il disturbo da ruminazione e il disturbo da evitamento/restrizione dell'assunzione di cibo, allargando il campo di intervento a condizioni che affliggono soggetti molto pi&ugrave; giovani.
							
						</p>
						<p>
							Tutti i DNA, e in particolare le forme pi&ugrave; frequenti e note (anoressia e bulimia nervose, disturbo evitante/restrittivo dell'assunzione di cibo, binge eating disorder), 
							oltre a determinare danni alla salute fisica, derivanti dal comportamento alimentare disfunzionale, le eccessive restrizioni alimentari, le abbuffate, l'uso e l'abuso di
							meccanismi di compenso cos&igrave; come l'esercizio fisico eccessivo, sono la manifestazione di un importante disagio psicologico ed emotivo, che comportano una conseguente
							alterazione del funzionamento relazionale e sociale, interrompendo la traiettoria di crescita e di sviluppo psico-emotivo, compromettendo in modo significativo la qualit&agrave; della vita.
						</p>
						
						
					</div>
				</div>
				 <div class="col-xl-6" >
					<div class="progetto-par" >						
<p>
	La mancata consapevolezza del comportamento disfunzionale o un atteggiamento di negazione del problema possono rallentare il ricorso alle cure necessarie e appropriate, 
	che dovrebbero essere invece tempestive. Va segnalato che anche lo stigma e il pregiudizio, che ancora connotano i disturbi della sfera psichica, contribuiscono ad un ritardo di accesso alle cure.
</p>						
					
<p>
	Nella maggior parte dei casi, le persone affette da tali disturbi giungono alle cure grazie all'iniziativa di un familiare o attraverso l'intercettazione dei sanitari chiamati ad 
	intervenire in occasione di urgenze legate alle condizioni precarie o critiche di salute in cui versano.
  Tali disturbi se non trattati tempestivamente e adeguatamente, tendono a presentare un andamento subcontinuo, se non cronico, aumentando il rischio di danni permanenti a carico di 
	tutti gli organi e apparati dell'organismo che, nei casi pi&ugrave; gravi, possono portare alla morte.   
Va segnalato che l'insorgenza sempre pi&ugrave; precoce di questi disturbi in fasce sempre pi&ugrave; giovani, interferendo con un sano processo di sviluppo, sia biologico che psicologico,
	pu&ograve; comportare un rischio maggiore di danni permanenti secondari alla malnutrizione, soprattutto a carico dei tessuti che non hanno ancora raggiunto una piena maturazione.

</p>
<p>
L'esperienza maturata dai professionisti del settore evidenzia l'importanza di prevedere per la gestione delle persone affette da DNA un intervento precoce, strutturato, 
multidimensionale, interdisciplinare, multiprofessionale e integrato che tenga in considerazione gli ambiti di salute fisica e nutrizionale, gli ambiti di salute psicologica e 
psichiatrica oltre che gli ambiti di salute socio-relazionale. 
Infatti, per ridurre il rischio di interventi frammentari, che parcellizzano la storia personale ed evolutiva del disagio e consentire la presa in carico integrata in grado di 
garantire risposte tempestive, unitarie ed omogenee, il Ministero della Salute ha redatto alcuni documenti di indirizzo, fortemente sollecitati sia dalle Associazioni dei 
familiari che dagli Operatori sanitari.
</p>
<p>
	Tali documenti sono pensati per fornire strumenti pratici per la gestione delle persone affette da DNA e orientare l'invio ai centri di cura pi&ugrave; appropriati, attraverso la 
	segnalazione della Mappa dei servizi e delle Associazioni dedicati alla cura dei Disturbi della nutrizione e dell'alimentazione.
   A tale scopo, in supporto alle Azioni Centrali del CCM il Ministero della Salute ha affidato al Centro Nazionale Dipendenze e Doping dell'Istituto Superiore di Sanit&agrave; i progetti 
	<b>Disturbi della nutrizione e dell'alimentazione: la mappatura territoriale dei centri dedicati alla cura - MA.NU.AL.</b>  e <b>Disturbi della nutrizione e dell'alimentazione (DNA): 
	la Mappatura territoriale delle Associazioni</b> che hanno visto la realizzazione della Mappatura dei centri di cura e delle Associazioni che si occupano di DNA.

</p>
<p>
Questa mappatura &egrave; pensata per rendere visibile in tempo reale le informazioni dei Servizi e agevolare l'accesso alle cure e agli interventi pi&ugrave; appropriati per le persone affette da tali disturbi e sostenere le loro famiglie.
L'elenco dei servizi presenti sulla Piattaforma potrebbe non essere esaustivo dell'offerta territoriale in quanto la loro registrazione &agrave; aperta a tutti ma su base volontaria.
L'attivit&agrave; di censimento &egrave; realizzata in stretta collaborazione con i referenti regionali della tematica e con le Associazioni di settore, sulla base di una apposita valutazione dei requisiti. 
Detto gruppo garantisce il costante monitoraggio della Piattaforma.
</p>						
						<img src="/documents/d/guest/progetto-5#,#include-friendly-url=true"  style="border:1px solid #eee;"  class="img-fluid" />					
					</div>
				</div>
			</div>
		</div>
	</section>
</div>