<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">

<div class="fragment_6">
	<section id="centri" class="align-items-center">

    <div class="container-fluid container-fluid-max-xl-header">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>${configuration.title}</h1>
          <p>${configuration.description}</p>
          <div>
						<a href="javascript:void(0)" id="myButton" name="myButton" class="btn-get-started scrollto">Cerca Centro</a></div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 centri-img">
          <img src="${configuration.imageUrl}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section>
	
	
</div>